.btn {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  border-radius: 0;

  color: var(--color-primary);
}

.btn-light {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  border-radius: 0;

  color: #fff;
}

.btn-ghost {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;

  color: var(--color-primary-light);
}

.btn:hover{
  color: #fff;
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.btn-ghost:hover {
  background-color: var(--color-primary-light);
  border-color: var(--button-primary-light);
}
