:root {
  --color-primary: #00bcd4;
  --color-primary-light: #b2ebf2;
  --color-primary-dark: #0097a7;
  --color-accent: #ffeb3b;
  --color-primary-text: #212121;
  --color-secondary-text: #757575;
  --color-divider-color: #bdbdbd;

  --font-primary: "Roboto", arial, sans-serif;
}

html {
  font-family: var(--font-primary);
}
