:root {
  --color-primary: #00bcd4;
  --color-primary-light: #b2ebf2;
  --color-primary-dark: #0097a7;
  --color-accent: #ffeb3b;
  --color-primary-text: #212121;
  --color-secondary-text: #757575;
  --color-divider-color: #bdbdbd;

  --font-primary: "Roboto", arial, sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-primary);
  line-height: 110%;
  font-size: 3.998em;
  font-weight: 700;
}

h2 {
  font-family: var(--font-primary);
  font-size: 2.827em;
  line-height: 110%;
  font-weight: 700;
}

h3 {
  font-family: var(--font-primary);
  font-size: 1.999em;
  font-weight: 500;
}

h4 {
  font-family: var(--font-primary);
  font-size: 1.414em;
  font-weight: 500;
}

h5 {
  font-family: var(--font-primary);
  font-size: 1em;
  font-weight: 300;
}

h6 {
  font-family: var(--font-primary);
  font-weight: 300;
}

ul {
  font-family: var(--font-primary);
  color: var(--color-secondary-text);
}

ol {
  font-family: var(--font-primary);
  color: var(--color-secondary-text);
}

dl {
  font-family: var(--font-primary);
  color: var(--color-secondary-text);
}

blockquote {
  font-family: var(--font-primary);
  font-weight: 300;
  color: var(--color-secondary-text);
}

cite {
  font-family: var(--font-primary);
  font-weight: 300;
  color: var(--color-secondary-text);
}

a {
  text-decoration: none;
  font-weight: 400;
  font-family: var(--font-primary);
  color: var(--color-primary);
}

em {
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: italic;
}

strong {
  font-family: var(--font-primary);
  font-weight: 500;
}

i {
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: italic;
}

b {
  font-family: var(--font-primary);
  font-weight: 500;
}

q {
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: italic;
}
