.carousel-items > div {
  display: none;
}

#dog-1-control:checked ~ .carousel-inner #dog-1,
#dog-2-control:checked ~ .carousel-inner #dog-2,
#dog-3-control:checked ~ .carousel-inner #dog-3,
#dog-4-control:checked ~ .carousel-inner #dog-4 {
  display: block;
}

.carousel-btn {
  border: 4px solid #fff;
  border-radius: 50%;
}

#dog-1-control:checked ~ .carousel-inner [for="dog-1-control"],
#dog-2-control:checked ~ .carousel-inner [for="dog-2-control"],
#dog-3-control:checked ~ .carousel-inner [for="dog-3-control"],
#dog-4-control:checked ~ .carousel-inner [for="dog-4-control"] {
  background-color: #fff;
}

.carousel-controls {
  position: absolute;
  top: 26em;
}

@media only screen and (min-width:25em) {
  .carousel-controls {
    position: absolute;
    top: 21.5em;
  }

}

@media only screen and (min-width:38em) {
  .carousel-controls {
    position: absolute;
    top: 24em;
  }
}

@media only screen and (min-width:60em) {
  .carousel-controls {
    position: absolute;
    top: 24em;
  }
}
